@model MoviesListViewModel

@foreach (var movie in Model.Movies)
{
    <div>
        <h3>@movie.Name</h3>
        @movie.Description
        <h4>@movie.Genre</h4>
    </div>
}

<div page-model="@Model.PagingInfo" page-action="Index"></div>
