@model MoviesListViewModel

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MovieReview</title>

    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="~/lib/css/style.css" />
</head>
<body>
    <header class="fixed-top">
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#272727">
            <div class="container">
                <a href="/Page1" class="navbar-brand">MOVIE REVIEW</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navContent"
                        aria-controls="navContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navContent">
                    <ul class="navbar-nav mr-auto mb-3 mb-lg-0">
                    </ul>
                    <form asp-controller="Home" asp-action="Search" class="d-flex">
                        <input type="search" placeholder="Search" name="searchString" class="form-control ml-2">
                        <button type="submit" class="btn btn-outline-dark">Search</button>
                    </form>
                    <vc:cart-summary />
                </div>
            </div>
        </nav>
    </header>
    
    <partial name="Carousel">

    <div class="container">
        <div class="row m-1 mt-5 p-1">
            <div id="categories" class="col-3 navigation_container">
                <vc:navigation-menu />
            </div>
            <div class="col-9 block_container">
                @RenderBody()
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script>
        $('.carousel').carousel({
            interval: 5000
        })
    </script>
</body>
</html>
